
<h3> Jobs under this category </h3>
<% Job.where(category_id: @category.id).each do |job| %>
    <strong>Title:</strong>  <%= job.title %>
    <p> <%= job.description %> </p>
<% end %>

<%= link_to 'Back', jobs_path %>
